name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
  - cron: "0 9 * * 2"

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set env
        run: echo "TAG=$(echo $(date +%Y.%m.%d))" >> $GITHUB_ENV

      - name: Docker Login
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.2.0

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3.7.1

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64
          push: true
          tags: |
            homeall/caddy-reverse-proxy-cloudflare:latest
            homeall/caddy-reverse-proxy-cloudflare:${{ env.TAG }}

      - name: Create github release
        uses: ncipollo/release-action@v1.14.0
        with:
          tag: ${{ env.TAG }}
          allowUpdates: true
          makeLatest: true
